<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card" [@cardlorem]>
                    <div class="header">
                        <h4 class="title">Lorem</h4>
                        <p class="category">Nam tristique ultrices arcu, in blandit neque rhoncus eget. </p>
                    </div>
                    <div class="content">
                        <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> lorem
                                <i class="fa fa-circle text-danger"></i> Ipsum
                                <i class="fa fa-circle text-warning"></i> Dolor
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> Lorem Ipsum Dolor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card" [@card2016lorem] >
                    <div class="header">
                        <h4 class="title">2016 Lorem</h4>
                        <p class="category">Lorem Ipsum Dolor</p>
                    </div>
                    <div class="content">
                        <div id="chartActivity" class="ct-chart"></div>
                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> Ipsum
                                <i class="fa fa-circle text-danger"></i> lorem
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-check"></i>  Nam tristique ultrices nt. 
                            </div>
                        </div>
                    </div>
                </div>
            </div
        </div>
    </div>
</div>
